In [3]:
my_list = [ 'apple' , 3 , 'banana split' ]
print(my_list[2])
my_list.append('cheesecake')
print(my_list[3])
for i in range(len(my_list)) :
    print(my_list[i])

banana split
cheesecake
apple
3
banana split
cheesecake

In [5]:
my_dict = { 'name' : 'Kacper' , 'age' : 18 , 'city' : 'Szaflary'}
print(my_dict['name'])
my_dict['is_student']=True #Shows that I'm student
#Write all
for key, value in my_dict.items():
    print(key,value)

Kacper
name Kacper
age 18
city Szaflary
is_student True